@page
@model CalendarAppRazor.Pages.ManageInviteCodes.CalendarPageModel




<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Happy New Year</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" onclick="javascript:window.print();">Download</a>
            <a asp-page="Index" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <tbody>
            @foreach (var obj in Model.Model.MonthPicturePairs)
            {
                <tr>
                    <td width="30%"><img src=@obj.imageUrl width="100%"/></td>
                    <td width="30%"><img src="\images\2023\@(obj.Month.ToString()).jpg" width="100%" /></td>
                   


                </tr>
            }

        </tbody>
    </table>

</div>
